 body {
    margin: 0;
    padding: 0;
    background-color: #525151;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      }

  section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  
  #check{
    background-color: darkgoldenrod;
    padding: 20px 50px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
  }

  header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}

header a{
  text-decoration: inherit;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home, .nav, .spellen, li {
  display: inline;
  margin: 30px;
  font-size: 24px;
}

a:hover {
  background-color: gray;
  padding: 20px;
  transition: 0.4s ease-in-out;
  border-radius: 15px 50px;
}

.gamecube{
  list-style-type: none;
  background-color: lightgoldenrodyellow;
  padding: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  float: left;
}

input{
  padding: 30px 40px;
}
